header {
    background-color: #0A369D;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

h1 {
    color: #CFDEE7
}

body {
    background-color: #4472CA;
}

main {
    display: flex;
    justify-content: space-around;
}

.loggin {
    width: 500px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 3px solid black;
    padding: 10px;
}

.loggin button {
    width: 50px;
}